{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Update Profile: {{ employee.first_name }} {{ employee.last_name }}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label">First Name</label>
            {{ form.first_name }}
        </div>

        <div class="mb-3">
            <label class="form-label">Last Name</label>
            {{ form.last_name }}
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            {{ form.email }}
        </div>

         <div class="mb-3">
            <label class="form-label">Home Address</label>
            {{ form.address }}
        </div>

        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            {{ form.phone_number }}
        </div>

        <div class="mb-3">
            <label class="form-label">Emergency Contact</label>
            {{ form.emergency_contact }}
        </div>

        <div class="mb-3">
            <label class="form-label">Department</label>
            {{ form.department }}
        </div>

        <div class="mb-3">
            <label class="form-label">Position</label>
            {{ form.position }}
        </div>

        <div class="mb-3">
            <label class="form-label">Salary</label>
            {{ form.salary }}
        </div>

        <div class="mb-3">
            <label class="form-label">Vacation Days</label>
            {{ form.vacation_days }}
        </div>

        <div class="mb-3">
            <label class="form-label">Working Hours</label>
            {{ form.work_schedule }}
        </div>

        <div class="mb-3">
            <label class="form-label">Sick Leaves</label>
            {{ form.sick_leaves }}
        </div>

        <div class="mb-3">
            <label class="form-label">Current Photo</label><br>
            {% if employee.photo %}
                <img src="{{ employee.photo.url }}" alt="Profile Photo" class="img-thumbnail mb-2" width="150">
            {% else %}
                <span class="text-muted">No photo uploaded</span>
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label">Change Photo</label>
            {{ form.photo }}
        </div>

        <button type="submit" class="btn btn-success">Update Profile</button>
        <a href="{% url 'emp_management:employee_detail' employee.slug %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}