ALLOWED_HOSTS=employee-system.onrender.com
DATABASE_URL=postgresql://postgres:Wasspordwan1@db.begjbatawqwohcjfvuwa.supabase.co:5432/postgres

SECRET_KEY=P4P4SAS4OBJ0R12345678
SUPABASE_ACCESS_KEY_ID=efc6b5f44174217bfbc852549bf4da64
SUPABASE_BUCKET_NAME=employee-photos
SUPABASE_ENDPOINT_URL=https://begjbatawqwohcjfvuwa.supabase.co/storage/v1/s3
SUPABASE_REGION=us-east-2
SUPABASE_SECRET_ACCESS_KEY=2e33156cbc8b9b39f2c84d1db49b14bbc5f9cce717e167b042536e793ec199f1