{% extends "base.html" %}



{% block content %}
    <div class="text-center mt-4">
        <h1 class="mb-4">Login</h1>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-12">
                <form method="post">
                {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    
                    {{ form.non_field_errors }}

                    <div class="d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
{#                        <p class="mb-0">Don't have an account yet? <a href="{% url 'register' %}">Sign up</a></p>#}
{#                        removed this because only admin registers an account#}
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}